<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="parrafo">Aqui encontrara la información de todos los Usuarios</p>

  <ion-card *ngFor="let user of users">
    <ion-card-header>
      <ion-card-title>{{user.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>RUT: {{ user.rut }}</p>
      <p>Edad: {{ user.edad }}</p>
      <p>Rol: {{ user.tipo_usuario }}</p>
      <p>Email: {{ user.email }}</p>

    </ion-card-content>

  </ion-card>
</ion-content>