ion-content{
    --ion-background-color: #98FF98;
  }
  ion-title{
    text-align: center;
  }
  ion-item{
    color: #000000;
  }
  
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto; 
}
.nuevos{
    border: 2px solid #000000;
}
.Advertencia{
  color: #000000;
  text-align: center;
}