ion-content{
    --ion-background-color: #98FF98;
}
ion-title{
    text-align: center;
}
ion-item{
    color: #000000;
}
ion-input{
    color: #000000;
}
.container-button{
    display: flex;
    justify-content: center;
}