<ion-header [translucent]="true" *ngIf="isLoggedIn; else loggedOutHeader">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #loggedOutHeader>
  <!-- Aquí va el header cuando el usuario no está logueado -->
  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
    
  </ion-header>
</ng-template>

<ion-content class="contenido" [fullscreen]="true" *ngIf="isLoggedIn; else loggedOutContent">
  <!-- Aquí va el contenido cuando el usuario está logueado -->
</ion-content>

<ng-template  #loggedOutContent>
  <!-- Aquí va el contenido cuando el usuario no está logueado -->
  <ion-content class="nologeado">

  </ion-content>
</ng-template>
