ion-content{
    --ion-background-color: #98FF98;
  }
  ion-title{
    text-align: center;
  }
  ion-item{
    color: #000000;
  }
  .nuevos{
    border: 2px solid #000000;
  }
  
  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Advertencia{
    color: #000000;
    text-align: center;
  }