ion-datetime {
    font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
    /* También puedes ajustar otros estilos según sea necesario, como el tamaño del contenedor, márgenes, etc. */
    width: auto; /* Ancho del componente */
    height: 300PX; /* Alto del componente */
  }

