ion-content{
  --ion-background-color: #98FF98;
}
ion-title{
  text-align: center;
}
ion-item{
  padding-top:1.5rem ;
  border-left: none; /* Sin línea a la izquierda */
  border-right: none;
  color: #000000;
}

.titulo{
text-align: center;
color: #000000;
}

.parrafo{
text-align: center;
color: #000000;
}


