ion-datetime {
    font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
    /* También puedes ajustar otros estilos según sea necesario, como el tamaño del contenedor, márgenes, etc. */
    width: 23rem; /* Ancho del componente */
    height: 300PX; /* Alto del componente */
    padding-top: 1rem;
  }
  .date{padding-bottom: 1rem;
    width: 23rem;
  }

