<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Registro de Estudiantes</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estudiantes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario para ingresar, buscar, eliminar y modificar estudiante -->
  <form [formGroup]="estudianteForm" (ngSubmit)="guardarEstudiante()" >
    <h1 class="titulo">Bienvenido</h1>
    <p class="parrafo">Porfavor complete los campos para completar el registro</p>
    <!-- Campo RUT -->
    <ion-item>
      <ion-label position="floating">RUT:</ion-label>
      <ion-input type="text" formControlName="rut" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Numero de matricula:</ion-label>
      <ion-input type="text" formControlName="numero_matricula_estudiante" required></ion-input>
    </ion-item>



    <!-- Campo Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text" formControlName="nombre" required></ion-input>
    </ion-item>

    <!-- Campo Apellido -->
    <ion-item>
      <ion-label position="floating">Apellido:</ion-label>
      <ion-input type="text" formControlName="apellido" required></ion-input>
    </ion-item>

    <!-- Campo Edad -->
    <ion-item>
      <ion-label position="floating">Edad:</ion-label>
      <ion-input type="number" formControlName="edad" required></ion-input>
    </ion-item>

    <!-- Campo Sexo -->
    <ion-item>
      <ion-label position="floating">Sexo:</ion-label>
      <ion-select formControlName="sexo" required>
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo Nacionalidad -->
    <ion-item>
      <ion-label position="floating">Nacionalidad:</ion-label>
      <ion-select formControlName="nacionalidad" required>
        <ion-select-option value="chilena">Chilena</ion-select-option>
        <ion-select-option value="argentina">Argentina</ion-select-option>
        <ion-select-option value="peruana">Peruana</ion-select-option>
        <ion-select-option value="boliviana">Boliviana</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Nacimiento:</ion-label>
      <ion-input type="date" formControlName="fecha_nac"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>¿Tiene alguna enfermedad?</ion-label>
      <ion-checkbox formControlName="tiene_enfermedad" [checked]="estudianteForm.get('tiene_enfermedad').value">
        
      </ion-checkbox>
      <ion-note slot="end">{{ estudianteForm.get('tiene_enfermedad').value ? 'Sí' : 'No' }}</ion-note>
    </ion-item>

    <ion-item *ngIf="estudianteForm.get('tiene_enfermedad').value">
      <ion-label>Tipo de Enfermedad:</ion-label>
      <ion-input type="text" formControlName="tipo_enfermedad"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="estudianteForm.get('tiene_enfermedad').value">
      <ion-label>Descripción de la Enfermedad:</ion-label>
      <ion-textarea formControlName="descripcion_enfermedad"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="estudianteForm.get('tiene_enfermedad').value">
      <ion-label>Certificado de Enfermedad:</ion-label>
      <ion-input type="file" (change)="onFileChange($event, 'certificado_enfermedad')" formControlName="certificado_enfermedad"></ion-input>
    </ion-item>
    
    <!-- Botón de Guardar -->
    <ion-button type="submit" expand="block">Guardar</ion-button>
  </form>

 </ion-content>
