<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Ver anotaciones  </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngIf="anotaciones.length > 0; else noAnotaciones">
    <p class="subtitulo">Bienvenido a la lista de anotaciones</p>
    <ion-input class="barra-busqueda" [(ngModel)]="searchValue" (ngModelChange)="searchAnotacion()" placeholder=" Buscar por el nombre del curso"></ion-input>
    
    <ion-item *ngFor="let anotacion of filteredAnotacion">
      <ion-card >
        <ion-card-header>
          <ion-card-title>Nombre del Curso: {{anotacion.nombre_curso}}</ion-card-title>
        </ion-card-header>
       
        <ion-card-content>
          <p>Fecha: {{anotacion.fecha_anotacion | date:'dd/MM/yyyy'}} </p>
          <p>Tipo de Anotación: {{anotacion.tipo_anotacion}}</p>
          <p>Asigntura: {{anotacion.nombre_asignatura}}</p>
          <p>Descripción: {{anotacion.descripcion_anotacion}}</p>
          <ion-button class="boton" color="primary" class="boton" (click)="redirigir_Buscar_Anotacion(anotacion._id)">Ver mas</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>    
  </ion-list>
  <ng-template #noAnotaciones>
    <p class="subtitulo">Su pupilo no registra anotaciones hasta el momento</p>
  </ng-template>
</ion-content>
