<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Gestión de usuarios
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/lista-usuario"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!edicionHabilitada">
    <p class="Advertencia" >Recuerde presionar Editar para que se muestren los datos del Usuario</p>
  </div>
  
    <form [formGroup]="userForm" *ngIf="mostrarInformacionUsuario" >
      
    <!-- Detalles del estudiante encontrado -->
    <ion-item class="ion-margin-top">
      <ion-label position="stacked">RUT:</ion-label>
      <ion-input type="text" formControlName="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre:</ion-label>
      <ion-input type="text" formControlName="nombre" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido:</ion-label>
      <ion-input type="text" formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Edad:</ion-label>
      <ion-input type="number" formControlName="edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tipo Usuario:</ion-label>
      <ion-select formControlName="tipo_usuario">
        <ion-select-option value="administrador">Administrador</ion-select-option>
        <ion-select-option value="directora">Directora</ion-select-option>
        <ion-select-option value="secretaria">Secretaria</ion-select-option>
        <ion-select-option value="profesor">Profesor</ion-select-option>
        <ion-select-option value="Jefa Utp">Jefa Utp</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email:</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
      <!-- Contraseña -->
      <!-- Botones de acción -->

  </form>
  <div class="button-container">
    <ion-button color="primary" color="primary" (click)="habilitarEdicion()" *ngIf="!edicionHabilitada || !mostrarInformacionUsuario ">Editar</ion-button>
    <ion-button color="primary" color="primary" (click)="desabilitarEdicion()" *ngIf="edicionHabilitada">Cancelar</ion-button>
    <ion-button color="danger" (click)="eliminarUsuario()" class="action-button" *ngIf="edicionHabilitada">Eliminar</ion-button>
    <ion-button color="secondary" (click)="actualizarUsuario()" class="action-button" *ngIf="edicionHabilitada">Guardar Cambios</ion-button>
  </div>

</ion-content>
