<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Gesti&oacute;n de Apoderados
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/lista-apoderado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!estado" >
    <p class="Advertencia"> Recuerde presionar Editar para que se muestren los datos del Apoderado</p>
  </div>
  
  <form [formGroup]="apoderadoForm" *ngIf="mostrarInformacionApoderado">
    <ion-item>
      <ion-label position="stacked">Rut Apoderado</ion-label>
      <ion-input [disabled]="!edicionHabilitada" type="text" formControlName="rut_apoderado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre Apoderado</ion-label>
      <ion-input [disabled]="!edicionHabilitada" type="text" formControlName="nombre_apoderado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre apoderado</ion-label>
      <ion-input [disabled]="!edicionHabilitada" type="text" formControlName="nombre_apoderado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido apoderado</ion-label>
      <ion-input [disabled]="!edicionHabilitada" type="text" formControlName="apellido_apoderado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Edad apoderado</ion-label>
      <ion-input type="number" [disabled]="!edicionHabilitada" formControlName="edad_apoderado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sexo apoderado</ion-label>
      <ion-select [disabled]="!edicionHabilitada"  formControlName="sexo_apoderado">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Parentesco apoderado</ion-label>
      <ion-input type="text" [disabled]="!edicionHabilitada" formControlName="parentesco"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Numero contacto</ion-label>
      <ion-input type="text" [disabled]="!edicionHabilitada" formControlName="numero_contacto_apoderado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email contacto</ion-label>
      <ion-input required type="email" [disabled]="!edicionHabilitada" formControlName="email_contacto_apoderado"></ion-input>
    </ion-item>
    


  </form>
  <div class="button-container">
    <ion-button color="primary" (click)="habilitarEdicion()" *ngIf="!estado">Editar</ion-button>
    <ion-button color="secondary" (click)="modificar_Apoderado()" *ngIf="estado" >Guardar</ion-button>
    <ion-button color="danger" (click)="eliminar_Apoderado()" *ngIf="estado" >Eliminar</ion-button>
    <ion-button color="primary" (click)="cancelar_Edicion()" *ngIf="estado" >Cancelar</ion-button>
  </div>

  
</ion-content>
