ion-content{
    --ion-background-color: #98FF98;
  }
  ion-title{
    text-align: center;
  }

  ion-item{color: rgb(27, 27, 27)}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto; 
}
.Advertencia{
  color: #000000;
  text-align: center;
}