/* gestion-curso-form.component.css */
ion-content{
  --ion-background-color: #98FF98;
}

ion-searchbar{
  color: hsl(0, 0%, 0%);
  border: 1px solid #000000;
}
ion-header{
  text-align: center;
}

ion-item{
  padding-top: 1.5rem;
  border-left: none; /* Sin línea a la izquierda */
  border-right: none;
  color: #000000;
}

ion-button{
 
  align-content: center;
  display: flex;
  padding-top: 1.5rem;
  text-align: center;
}
  button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .parrafo{
    text-align: center;
    color: #000000;
  }