<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Asignar Cursos </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="gestionCursoForm" (ngSubmit)="guardarCurso()">
    <p class="parrafo">aqui podrá conformar los cursos de la institución</p>
    <p class="parrafo">Recuerde completar todos los campos </p>
    <ion-item>
      <ion-label position="stacked">Nombre del Curso:</ion-label>
        <ion-input type="text" id="nombreCurso" formControlName="nombreCurso" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cantidad de Alumnos: </ion-label>
      <ion-input name="cantidadAlumno" type="number"  formControlName="cantidadAlumno" required></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>Seleccione el Nombre del Profesor</ion-label>
      <ion-select multiple="true" formControlName="profesor">
        <ion-select-option *ngFor="let profesor of profesores" [value]="profesor">{{ profesor.nombre }}
          {{profesor.rut}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Seleccione el nivel del curso</ion-label>
      <ion-select formControlName="nivel_curso">
        <ion-select-option value="Medio Mayor">Medio Mayor</ion-select-option>
        <ion-select-option value="Medio Medio">Medio Medio</ion-select-option>
        <ion-select-option value="Medio Menor">Medio Menor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Seleccione Días de clases: </ion-label>
      <ion-select multiple="true" formControlName="dias">
        <ion-select-option *ngFor="let dia of dias" [value]="dia">{{ dia }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Buscar Estudiantes</ion-label>
      <ion-searchbar   formControlName="searchControl"></ion-searchbar>
    </ion-item>

    
  <ion-item>
    <ion-label>Seleccione Nombre de Estudiantes</ion-label>
    <ion-select (ionChange)="updateSelectedAlumnos($event)" multiple="true" formControlName="alumno" >
      <ion-select-option *ngFor="let alumno of filteredAlumnos" [value]="alumno">{{ alumno.nombre }} {{alumno.rut}}</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-button type="submit" [disabled]="gestionCursoForm.invalid">Guardar</ion-button>
  </form>

</ion-content>