ion-content{
  --ion-background-color: #98FF98;
}

ion-title{
  text-align: center;
  
}
ion-card{
  width: auto;
  border: 2.5px solid #000000;
  color: #000000;
  background-color: #98FF98;
}
ion-card-title{
  color: #000000;
}

  .barra-busqueda{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid #000000;
    color: #000000; 
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: auto; 
}
.parrafo{
  text-align: center;
  color: #000000;
}  
  .card {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 10px 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  