<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Estudiantes</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="parrafo">Aqui encontrara la información de todos los Estudiantes</p>

  <ion-card *ngFor="let user of students">
    <ion-card-header>
      <ion-card-title>Nombre: {{user.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>RUT: {{ user.rut }}</p>
      <p>Edad: {{ user.edad }}</p>
      <p>Sexo: {{ user.sexo }}</p>
      <p>Nacionalidad: {{ user.nacionalidad }}</p>
      <p>Fecha de Nacimiento: {{ user.fecha_nac }}</p>
      

    </ion-card-content>

  </ion-card>
</ion-content>