<ion-item class="ion-margin-top">
  <ion-label position="stacked">Buscar Estudiante por RUT:</ion-label>
  <ion-input  type="text" placeholder="Ingrese un Rut " name="buscarRut" [(ngModel)]="rutBuscar"></ion-input>
  <ion-button (click)="buscarEstudiante()" expand="block">Buscar</ion-button>
</ion-item>

<!-- Detalles del estudiante encontrado -->
<ion-card *ngIf="estudianteEncontrado && mostrarInformacionEstudiante" class="ion-margin-top">
  <ion-card-header>
    <ion-card-title>Estudiante Encontrado:</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p><strong>RUT:</strong> {{ estudianteEncontrado.rut }}</p>
    <p><strong>Nombre:</strong> {{ estudianteEncontrado.nombre }}</p>
    <p><strong>Apellido:</strong> {{ estudianteEncontrado.apellido }}</p>
    <p><strong>Edad:</strong> {{ estudianteEncontrado.edad }}</p>
    <p><strong>Sexo:</strong> {{ estudianteEncontrado.sexo }}</p>
    <p><strong>Nacionalidad:</strong> {{ estudianteEncontrado.nacionalidad }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ estudianteEncontrado.fecha_nac }}</p>
    <ion-button color="danger" (click)="eliminarEstudiante(estudianteEncontrado.rut)">Eliminar</ion-button>
    <ion-button color="secondary" (click)="editarEstudiante(estudianteEncontrado)">Editar</ion-button>
  </ion-card-content>
</ion-card>