<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Búsqueda de cursos
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item class="ion-margin-top" [formGroup]="buscarForm">
      <ion-label position="stacked">Buscar curso por nombre:</ion-label>
      <ion-input type="text" placeholder="Ingrese nombre del curso" formControlName="nombreCurso"></ion-input>
      <ion-button (click)="buscarCurso()" expand="block">Buscar</ion-button>
    </ion-item>
    
    <form [formGroup]="cursoForm" *ngIf="mostrarInformacionCurso">
      <label for="nombreCurso">Nombre del Curso</label>
      <input type="text" id="nombreCurso" formControlName="nombreCurso" [disabled]="!edicionHabilitada" required>
  
      <label for="cantidadAlumno">Cantidad de Alumnos</label>
      <input type="number" id="cantidadAlumno" formControlName="cantidadAlumno" required>
  
      <label for="nombreProfesor">Nombre del Profesor</label>
      <input type="text" id="nombreProfesor" formControlName="nombreProfesor" required>
  
      <ion-item>
        <ion-label>Días</ion-label>
        <ion-select [disabled]="!edicionHabilitada" multiple="true" formControlName="dias">
          <ion-select-option *ngFor="let dia of dias" [value]="dia">{{ dia }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Alumnos</ion-label>
        <ion-select formControlName="alumnos" multiple="true" interface="action-sheet">
          <ion-select-option *ngFor="let nombre of nombresEstudiantes" [value]="nombre">{{ nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
            

      <div class="button-container">
        <ion-button color="primary" (click)="habilitarEdicion()" *ngIf="!edicionHabilitada">Modificar</ion-button>
        <ion-button color="danger" (click)="eliminarCurso()" class="action-button" *ngIf="edicionHabilitada">Eliminar</ion-button>
        <ion-button color="secondary" (click)="actualizarCurso()" class="action-button" *ngIf="edicionHabilitada">Guardar Cambios</ion-button>
      </div>

    </form>
  </ion-toolbar>
</ion-header>
