ion-header{
    text-align: center;
}

ion-item{
    padding-bottom: 1.5rem;
    border: solid 2px #FFFFFF;
    border-left: none; /* Sin línea a la izquierda */
    border-right: none;
}

.subtitulo{
    text-align: center;
}

