<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Registro Ingreso</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ingresoForm" (ngSubmit)="guardar_Ingreso()">
    <h1 class="title" >Bienvenido aqui Podra Registrar su Ingreso al Establecimiento</h1>
    <ion-item>
      <ion-label position="floating">Nombre del Usuario</ion-label>
      <ion-input formControlName="nombre_usuario" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rut del Usuario</ion-label>
      <ion-input formControlName="rut_usuario" type="text"></ion-input>
    </ion-item>
    <ion-item lines="none" >
      <ion-label class="foto-item"  position="floating">Carge Foto Ingreso</ion-label>
      <ion-input formControlName="foto_ingreso" (change)="onFileChange($event, 'foto_ingreso')" type="file"></ion-input>
    </ion-item>
    <div class="button-container">
      <ion-button color="secondary" type="submit" >Guardar</ion-button>
    </div>

  </form>
</ion-content>
