ion-content{
    --ion-background-color: #98FF98;

}
ion-title{
    text-align: center;
}
ion-item{
    color: #000000;
}
ion-select{
    color: #000000;
}
ion-input{
    color: #000000;
}

ion-checkbox{
    border: 2px solid #000000;
}
ion-note{
    color: #000000;
}
.container{
    display: flex;
    justify-content: center;
}